:root {
--font-family-1: "Mountains of Christmas", serif;
--font-family-2: "Laila", serif;

--font-size-1: 60px;
--font-size-2: 1.1em;

--tekhelet: #3a3286ff; 
--vista-blue: #a5a6f3ff; 
--tangerine: #f18701ff; 
--selective-yellow: #f7b801ff;

margin: 0 auto;
}

* {
    background-color: var(--tekhelet);
    color:beige;
    font-family: var(--font-family-2);
    font-size: var(--font-size-2);
}

header h1{
    font-family: var(--font-family-1);
    background-color: var(--tekhelet);
    color: var(--selective-yellow);
    font-size: var(--font-size-1);
}
canvas {
    display: block;
}
.game-choice-grid {
    display: grid;
    margin: 30px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--vista-blue)
}

li {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: var(--vista-blue);
}